{% extends 'base.html.twig' %}

{% block title %}{{garden.title}}{% endblock %}

{% block body %}


<div class="container">
    <!--<a href="{{ path('create_garden') }}" class="btn btn-success my-4">Modifier</a>-->
    <div id="self_sufficiency_container" data-ratio="{{waterCollectorQty}}">
      <div id="self_sufficiency_gauge" style="width: {{plants_water_need * 400 / waterCollectorQty}}px"></div>
    </div>
    <h1>{{garden.title}}</h1>

    <!-- on récupère toutes les données des parterres pour les mettre dans des champs caché et pouvoir les receptionner en js-->
    {% for flowerbed in flowerbeds %}
        <input class="flowerbed_data" type="hidden" value="{{flowerbed|json_encode}}" >
    {% endfor %}
    <input id="garden_id" type="hidden" value="{{garden.id}}">

    <div {{ react_component('Canvas') }}></div>
    <div {{ react_component('Search') }}></div>
</div>

<script>
  var groundTypesUrl = "{{ asset('media/groundtypes/') }}";
</script>
{% endblock %}

