{% extends 'base.html.twig' %}

{% block title %}{{garden.title}}{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('create_garden') }}" class="btn btn-success my-4">Modifier</a>
    <h1>{{garden.title}}</h1>

    <!-- on récupère toutes les données des parterres pour les mettre dans des champs caché et pouvoir les receptionner en js-->
    {% for flowerbed in flowerbeds %}
        <input class="flowerbed_data" type="hidden" data-formtype = "{{flowerbed.formtype}}" data-top="{{flowerbed.top}}" data-left="{{flowerbed.left}}" data-width="{{flowerbed.width}}" data-height="{{flowerbed.height}}" data-ray = "{{flowerbed.ray}}" data-scalex="{{flowerbed.scalex}}" data-scaley="{{flowerbed.scaley}}" data-fill="{{flowerbed.fill}}" data-fillopacity="{{flowerbed.fillOpacity}}" data-stroke="{{flowerbed.stroke}}" data-flipangle="{{flowerbed.flipangle}}" data-shadowtype="{{flowerbed.shadowtype}}" data-isgardenlimit ="{{flowerbed.isGardenLimit}}" {% if (flowerbed.groundtype is defined) %}data-groundtype="{{flowerbed.groundtype}}"{% endif %}  {% if (flowerbed.groundacidity is defined) %}data-groundacidity="{{flowerbed.groundacidity}}"{% endif %} >
    {% endfor %}
    <input id="garden_id" type="hidden" value="{{garden.id}}">

    <div {{ react_component('Canvas') }}></div>
    <div {{ react_component('PlantCard') }}></div>
</div>

<script>
  var groundTypesUrl = "{{ asset('media/groundtypes/') }}";
</script>
{% endblock %}

